In [49]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
from joblib import dump, load

from sklearn.preprocessing import scale
from sklearn.cluster import KMeans

In [51]:
def scale_data(year):
    yearMinutes = pd.read_csv(f'/Users/austincoffelt/Documents/WNBA_players/wnba_players_{year}.csv')
    yearMinutes = yearMinutes.drop_duplicates(subset = ['Name', 'Team'], keep = 'first')
    tot_min = yearMinutes['Total Minutes']
    yearMinutes = yearMinutes[['Name', 'Team']]
    
    yearShooting = pd.read_csv(f'/Users/austincoffelt/Documents/WNBA_shooting/wnba_players_{year}_shooting.csv')
    yearShooting = yearShooting.drop_duplicates(subset = ['Player', 'Team'], keep = 'first')
    
    yearUsage = pd.read_csv(f'/Users/austincoffelt/Documents/WNBA_usage/wnba_players_{year}_usage.csv')
    yearUsage = yearUsage.drop_duplicates(subset = ['player', 'team'], keep = 'first')
    
    yearShootingLocation = pd.read_csv(f'/Users/austincoffelt/Documents/WNBA_shooting_location/wnba_players_{year}_shooting_location.csv')
    yearShootingLocation = yearShootingLocation.drop_duplicates(subset = ['Player', 'Team'], keep = 'first')

    dfYear = pd.merge(yearShooting, yearUsage, left_on = ['Player', 'Team'], right_on = ['player', 'team'], how = 'inner', validate='one_to_one')
    dfYear = pd.merge(dfYear, yearShootingLocation, on = ['Player', 'Team'], how = 'inner', validate='one_to_one')
    dfYear = pd.merge(dfYear, yearMinutes, left_on = ['Player', 'Team'], right_on = ['Name', 'Team'], how = 'inner', validate='one_to_one')

    dfYear = dfYear.drop(['player', 'team', 'Age', 'RA_FGM', 'RA_FG%', 'ITP_FGM', 'ITP_FG%', 'MR_FGM', 'MR_FG%', 'LC3_FGM', 'LC3_FG%', 'RC3_FGM', 'RC3_FG%', 'AB3_FGM', 'AB3_FG%', 'Name'], axis = 1)

    cols_to_convert = [col for col in dfYear.columns if col not in ['Player', 'Team']]
    dfYear[cols_to_convert] = dfYear[cols_to_convert].apply(pd.to_numeric, errors='coerce').fillna(0)

    dfYear.iloc[:, 2:] = scale(dfYear.iloc[:, 2:])
    dfYear['year'] = year
    dfYear['Total Minutes'] = tot_min

    dfYear.to_csv(f'WNBA_scaled_means_data/WNBA_scaled_{year}.csv', index = False)

In [53]:
for year in list(range(1997, 2025)):
    scale_data(year)

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_2570/4293983051.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.67857143 -1.64285714 -1.57142857 -1.53571429 -1.42857143 -1.35714286
 -1.32142857 -1.10714286 -1.07142857 -0.96428571 -0.89285714 -0.85714286
 -0.82142857 -0.71428571 -0.42857143 -0.39285714 -0.35714286 -0.32142857
 -0.28571429 -0.17857143 -0.14285714 -0.10714286  0.          0.07142857
  0.46428571  0.5         0.60714286  0.64285714  0.67857143  0.71428571
  0.82142857  0.89285714  0.92857143  1.          1.07142857  1.10714286
  1.17857143  1.32142857  1.35714286  1.39285714  1.46428571  1.5
  1.57142857  1.64285714 -1.17857143 -0.5        -0.25        0.10714286
  0.39285714  0.42857143  1.03571429 -0.64285714 -0.57142857  0.17857143
  1.21428571  1.25        1.53571429 -1.71428571 -1.03571429 -0.78571429
  0.35714286  1.60714286  0.75        1.28571429 -1.14285714 -0.92857143
  0.32142857 -0.53571429  0.14285714 -1.39285714  0.28571429 -1.25
 -0.21428571 -1.46428571 -1.         -0.60714286  1.67857143  1.14285714
 -1.21428571 -0.67857143 -1.60714286 -0.75        0.85714286  0.57142857
 -1.28571429  0.96428571 -0.07142857  0.03571429  0.53571429  1.71428571
 -0.03571429  0.25        1.42857143 -1.5        -0.46428571  0.21428571
  0.78571429]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dfYear.iloc[:, 2:] = scale(dfYear.iloc[:, 2:])
/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_2570/4293983051.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.44569352 -1.30930734 -1.25475287 -1.14564392 -1.09108945 -1.03653498
 -0.9001488  -0.68193091 -0.65465367 -0.62737643 -0.57282196 -0.49099025
 -0.46371302 -0.43643578 -0.38188131 -0.35460407 -0.08183171  0.02727724
  0.08183171  0.10910895  0.21821789  0.38188131  0.43643578  0.51826749
  0.6000992   0.65465367  0.68193091  0.81831709  0.9001488   0.92742603
  1.00925774  1.03653498  1.25475287  1.44569352  1.47297076  1.5820797
  1.60935694  1.63663418  1.71846589 -1.69118865 -1.47297076 -0.76376262
 -0.51826749 -0.27277236 -0.24549513 -0.16366342  0.24549513  0.27277236
  0.40915854  0.73648538  0.79103985  0.95470327  1.30930734 -1.71846589
 -1.22747563 -1.11836669 -1.06381221 -0.73648538 -0.3000496  -0.13638618
  0.32732684  0.49099025  0.87287156  1.06381221  1.69118865 -0.40915854
 -0.10910895  1.2001984   1.39113905 -0.81831709  0.         -0.84559432
 -0.70920814 -1.66391141 -1.500248   -1.33658458 -1.2001984   0.54554473
  0.13638618  0.46371302  0.98198051 -1.17292116 -0.98198051  0.62737643
  1.11836669  1.14564392  1.52752523 -1.28203011 -0.32732684  0.76376262
  1.17292116 -1.00925774 -0.95470327 -0.92742603 -0.02727724  1.28203011
 -1.5820797  -0.87287156  1.36386181  0.57282196 -1.60935694 -1.52752523
  1.41841629 -0.21821789  0.35460407  1.09108945 -1.63663418  1.55480247
 -1.41841629  0.19094065  1.500248   -0.54554473 -0.05455447  0.16366342
  0.3000496   0.70920814 -1.39113905 -1.36386181 -0.79103985 -0.19094065
  1.33658458  0.84559432  1.22747563 -1.55480247  0.05455447 -0.6000992
  1.66391141]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dfYear.iloc[:, 2:] = scale(dfYear.iloc[:, 2:])
/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_2570/4293983051.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.69744751 -1.60506942 -1.53578584 -1.4895968  -1.46650227 -1.44340775
 -1.37412418 -1.25865156 -1.23555703 -1.12008441 -0.8198556  -0.79676108
 -0.77366655 -0.61200489 -0.51962679 -0.45034322 -0.28868155 -0.21939798
 -0.19630345 -0.17320893 -0.12701988 -0.05773631 -0.03464179  0.03464179
  0.05773631  0.08083083  0.10392536  0.21939798  0.40415417  0.42724869
  0.49653227  0.54272131  0.65819393  0.8198556   0.86604465  0.88913917
  0.9122337   0.93532822  0.98151727  1.00461179  1.02770632  1.12008441
  1.14317894  1.23555703  1.25865156  1.28174608  1.30484061  1.35102965
  1.62816394 -1.62816394 -1.32793513 -1.16627346 -1.07389537 -0.88913917
 -0.86604465 -0.10392536 -0.08083083  0.12701988  0.17320893  0.31177607
  0.47343774  0.75057203  0.77366655  0.79676108  1.07389537  1.21246251
  1.51269132  1.60506942  1.67435299 -1.30484061 -1.21246251 -1.00461179
 -0.93532822 -0.63509941 -0.31177607  0.15011441  0.2424925   0.63509941
  0.72747751  1.05080084 -1.67435299 -0.68128846  0.84295013  1.69744751
 -0.95842275 -0.72747751 -0.47343774  0.45034322  1.18936799  0.01154726
  0.51962679  1.3972187  -0.75057203 -0.49653227  1.16627346  1.46650227
 -1.35102965 -1.28174608 -1.18936799 -0.54272131 -0.40415417 -0.15011441
  1.37412418 -0.3348706   1.53578584  1.72054204  1.4895968   0.26558703
 -1.14317894  0.38105965 -1.72054204 -0.9122337  -0.70438298  0.68128846
  1.09698989  1.58197489 -1.55888037 -0.58891036  1.44340775 -0.98151727
 -0.84295013 -1.65125846 -1.09698989 -0.56581584 -0.01154726  0.95842275
 -1.58197489 -1.02770632  0.56581584  0.58891036 -0.65819393  1.65125846
 -0.35796512  1.32793513  1.42031323 -1.42031323 -0.2424925   0.28868155
 -1.3972187   0.3348706  -1.51269132 -1.05080084 -0.42724869  0.61200489
  1.55888037 -0.38105965  0.35796512 -0.26558703  0.19630345  0.70438298]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dfYear.iloc[:, 2:] = scale(dfYear.iloc[:, 2:])
/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_2570/4293983051.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.67263779 -1.60471341 -1.53678903 -1.48584575 -1.38395918 -1.349997
 -1.31603481 -1.28207262 -1.26509152 -1.21414824 -1.14622386 -1.12924277
 -1.09528058 -0.94245073 -0.92546964 -0.89150745 -0.77263979 -0.72169651
 -0.55188556 -0.48396119 -0.33113134 -0.31415024 -0.24622587 -0.21226368
 -0.12735821 -0.00849055  0.04245274  0.05943383  0.09339602  0.1613204
  0.17830149  0.21226368  0.22924477  0.34811243  0.36509353  0.39905572
  0.41603681  0.4330179   0.48396119  0.53490447  0.55188556  0.7386776
  0.85754526  0.97641292  1.01037511  1.0443373   1.09528058  1.11226168
  1.14622386  1.18018605  1.23112934  1.26509152  1.349997    1.43490247
  1.45188356  1.46886466  1.53678903  1.55377013  1.60471341  1.68961888
  1.70659998  1.72358107 -1.6386756  -1.41792137 -1.24811043 -1.07829949
 -0.99339402 -0.63679104 -0.38207462 -0.1613204   0.02547164  0.65377213
  0.87452636  0.92546964  0.94245073  1.16320496  1.19716715  1.31603481
  1.3330159   1.40094028  1.65565669  1.67263779 -1.16320496 -1.06131839
 -0.90848854 -0.67075322 -0.50094228 -0.22924477 -0.04245274  0.19528258
  0.72169651  0.78962088  1.38395918 -1.68961888 -1.23112934 -0.95943183
 -0.68773432 -0.4330179  -0.34811243 -0.26320696 -0.05943383  0.1443393
  0.46698009  0.80660198  0.95943183  1.12924277  1.24811043  1.50282684
 -1.70659998 -0.84056417 -0.36509353 -0.17830149  0.26320696  0.28018806
  0.60282885 -1.40094028 -1.01037511 -0.97641292 -0.41603681 -0.80660198
 -0.58584775 -0.1443393   1.06131839  1.29905371 -1.55377013 -1.19716715
 -1.0443373  -0.449999   -0.09339602  1.41792137  0.31415024  0.89150745
  1.51980794 -1.50282684 -0.39905572  0.12735821  0.33113134  0.56886666
  1.0273562  -1.57075122 -1.45188356 -0.60282885  0.449999   -1.6216945
 -1.3330159  -1.18018605 -0.61980994 -0.53490447  0.84056417  1.07829949
 -1.11226168 -0.29716915  0.67075322  0.7556587  -0.7556587   1.48584575
  1.6216945  -0.87452636 -0.46698009 -0.19528258  1.21414824  1.36697809
 -0.78962088 -0.51792338 -0.28018806  0.11037711  0.77263979  0.90848854
 -1.51980794 -1.36697809 -0.7386776  -0.70471541  0.38207462  1.57075122
  0.61980994  0.63679104  0.82358307 -0.65377213 -0.02547164  0.58584775
  0.70471541 -0.82358307  0.24622587  0.99339402  0.51792338 -1.72358107
 -0.56886666  0.00849055  0.29716915  1.28207262 -1.46886466  0.50094228
  1.58773232 -1.65565669 -1.58773232 -1.43490247 -1.0273562  -0.11037711
 -0.07641492  0.07641492  0.68773432  1.6386756  -1.29905371 -0.85754526]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dfYear.iloc[:, 2:] = scale(dfYear.iloc[:, 2:])
/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_2570/4293983051.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.60655863 -1.58982364 -1.57308865 -1.53961868 -1.45594376 -1.4057388
 -1.35553384 -1.33879886 -1.18818398 -1.07103908 -1.0543041  -1.00409914
 -0.98736416 -0.9371592  -0.92042421 -0.88695424 -0.87021926 -0.85348427
 -0.83674928 -0.80327931 -0.78654433 -0.68613441 -0.66939943 -0.63592946
 -0.5857245  -0.55225453 -0.51878456 -0.50204957 -0.48531459 -0.43510963
 -0.3514347  -0.30122974 -0.25102479 -0.05020496  0.03346997  0.08367493
  0.1171449   0.16734986  0.18408484  0.20081983  0.30122974  0.43510963
  0.56898951  0.5857245   0.60245948  0.61919447  0.66939943  0.78654433
  0.8200143   0.87021926  0.88695424  0.9371592   0.95389418  0.98736416
  1.0543041   1.15471401  1.171449    1.22165396  1.23838894  1.25512393
  1.2885939   1.30532888  1.33879886  1.37226883  1.38900381  1.42247378
  1.57308865  1.65676358  1.67349857  1.72370353 -1.47267874 -1.42247378
 -0.38490467  0.01673499  0.10040991  0.26775977  0.4685796   0.48531459
  0.83674928  1.00409914  1.50614871  1.53961868  1.60655863 -1.20491897
 -1.12124404 -0.13387989 -0.03346997  0.25102479  0.28449476  0.76980934
  0.80327931  0.97062917  1.08777407  1.10450906  1.32206387  1.4057388
  1.43920877  1.5228837  -1.22165396 -0.60245948 -0.40163966 -0.08367493
  0.05020496  0.85348427  1.20491897  1.27185891  1.55635367 -1.67349857
 -0.53551954 -0.20081983 -0.15061487 -0.10040991  0.45184461  0.51878456
 -1.171449   -0.95389418 -0.73633937 -0.41837464 -0.1171449   0.2342898
  0.40163966  1.6400286  -1.62329361 -0.8200143  -0.26775977 -0.18408484
  0.          0.92042421  1.13797903  1.45594376  1.58982364 -1.70696854
 -1.43920877 -1.48941373 -0.75307436  1.62329361 -1.55635367 -1.50614871
 -1.25512393 -0.33469971  0.50204957  0.71960438  1.35553384 -1.6400286
 -1.10450906 -0.31796473  0.3514347   1.03756911  1.70696854 -1.2885939
 -0.97062917  0.33469971  1.47267874 -1.08777407 -0.56898951  0.7028694
  1.48941373 -0.2342898   0.68613441  0.90368923  1.12124404 -1.27185891
 -0.61919447  0.73633937  1.07103908 -1.30532888 -1.23838894 -0.71960438
  0.41837464 -0.28449476 -0.16734986  0.55225453  1.69023355 -0.65266444
 -1.38900381 -1.15471401 -1.65676358 -1.13797903  0.31796473 -1.02083413
 -0.76980934 -0.36816969 -1.69023355 -0.01673499 -0.45184461  0.21755481
 -1.32206387 -0.7028694  -0.4685796  -0.21755481 -0.06693994  0.15061487
  0.36816969 -1.72370353 -0.90368923  0.38490467  0.53551954  1.18818398
  0.06693994  0.13387989  0.63592946 -1.5228837  -1.37226883 -1.03756911
  0.65266444  0.75307436  1.02083413]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dfYear.iloc[:, 2:] = scale(dfYear.iloc[:, 2:])
/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_2570/4293983051.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.71257273 -1.69583299 -1.67909326 -1.66235352 -1.62887404 -1.6121343
 -1.51169587 -1.46147666 -1.44473692 -1.41125744 -1.39451771 -1.37777797
 -1.27733954 -1.2605998  -1.14342163 -1.1266819  -1.0429832  -1.02624347
 -1.00950373 -0.94254477 -0.92580504 -0.87558582 -0.85884608 -0.67470896
 -0.62448975 -0.52405132 -0.49057184 -0.39013341 -0.32317446 -0.25621551
 -0.20599629 -0.07207839 -0.05533865  0.0116203   0.11205873  0.21249716
  0.24597664  0.26271638  0.31293559  0.36315481  0.37989454  0.43011376
  0.46359324  0.48033297  0.49707271  0.68120983  0.84860721  0.86534695
  0.88208669  0.98252512  1.0160046   1.09970329  1.11644303  1.20014172
  1.21688146  1.25036093  1.28384041  1.30058015  1.31731988  1.35079936
  1.38427884  1.66885439  1.68559413 -1.32755875 -1.31081902 -0.9090653
 -0.70818844 -0.54079106 -0.4738321  -0.42361289 -0.30643472 -0.17251682
 -0.1222976   0.12879847  0.16227795  0.41337402  0.4468535   0.53055219
  0.5807714   0.76490852  0.91556617  0.93230591  0.94904564  1.04948407
  1.16666224  1.23362119  1.56841596  1.65211465 -1.59539457 -1.54517535
 -0.79188713 -0.6914487  -0.27295525  0.19575742  0.56403166  0.69794957
  1.03274434  1.18340198 -1.09320242 -0.72492818 -0.22273603  0.39663428
  0.63099062  0.71468931  0.798388    1.41775831  1.43449805  1.60189543
 -1.56191509 -1.49495614 -0.84210635 -0.80862687 -0.75840765 -0.50731158
 -0.00511943  0.04509978  0.64773036 -0.08881813  0.06183952  1.08296355
  1.53493648 -1.72931247 -1.4782164  -1.10994216 -0.45709237  0.02836004
  0.2292369   0.66447009  0.89882643 -1.17690111  1.45123779 -1.52843561
 -0.3399142   1.3675391   1.48471727 -1.24386006 -0.65796923 -0.64122949
 -0.10555786  0.29619585  1.46797753  0.27945612  1.06622381 -0.57427053
  0.61425088 -1.57865483 -1.16016137 -1.19364085 -1.07646268 -0.60775001
 -0.40687315 -0.35665394 -1.64561378 -0.99276399 -0.89232556 -0.59101027
 -0.15577708  0.17901769  0.32967533  1.50145701 -0.02185917  1.55167622
  1.70233386 -0.13903734  0.07857926  1.40101858 -1.42799718  0.09531899
 -0.37339368  1.13318276  1.1499225  -0.18925655  0.99926486  1.61863517
 -0.74166792  1.7190736  -0.5575308   0.74816879 -1.36103823 -0.03859891
  0.51381245 -1.34429849 -0.23947577 -0.95928451  1.51819674  1.5851557
 -1.29407928 -0.44035263  0.14553821  0.96578538  1.26710067 -0.97602425
  0.73142905  1.33405962  0.81512774  0.83186748  1.63537491 -1.22712032
 -1.21038059 -0.28969498  0.34641507  0.59751114  0.78164826 -0.82536661
 -0.77514739  0.54729193]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dfYear.iloc[:, 2:] = scale(dfYear.iloc[:, 2:])
/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_2570/4293983051.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.70272119 -1.66357817 -1.60486365 -1.56572063 -1.54614913 -1.52657762
 -1.50700611 -1.46786309 -1.44829159 -1.38957706 -1.35043405 -1.233005
 -1.03728992 -0.9981469  -0.9785754  -0.93943238 -0.90028936 -0.86114635
 -0.64585976 -0.54800222 -0.52843071 -0.35228714 -0.31314413 -0.27400111
 -0.2348581  -0.21528659 -0.05871452  0.15657206  0.17614357  0.21528659
  0.29357262  0.31314413  0.37185865  0.45014468  0.46971619  0.4892877
  0.52843071  0.66543127  0.68500278  0.72414579  0.78286032  0.86114635
  0.90028936  0.9981469   1.05686143  1.17429048  1.233005    1.25257651
  1.27214801  1.31129103  1.33086254  1.40914857  1.42872008  1.44829159
  1.60486365  1.68314968 -1.68314968 -1.19386198 -1.11557595 -0.84157484
 -0.82200333 -0.68500278 -0.50885921 -0.4892877  -0.17614357 -0.01957151
  0.05871452  0.41100167  0.56757373  0.70457429  0.7437173   1.11557595
  1.13514746  1.29171952  1.35043405 -1.58529214 -1.21343349 -0.95900389
 -0.91986087 -0.07828603  0.33271563  0.64585976  1.64400667  1.66357817
 -1.64400667 -1.37000555 -1.01771841 -0.15657206 -0.09785754  0.27400111
  0.88071786  1.38957706  1.56572063 -1.15471897 -0.43057317 -0.39143016
 -0.29357262  0.58714524  1.01771841  1.09600444  1.21343349 -0.56757373
  0.76328881  1.37000555 -0.37185865 -0.33271563  1.03728992  1.4874346
 -1.62443516 -1.33086254 -1.27214801 -0.45014468 -0.19571508  0.43057317
  0.84157484 -1.29171952 -0.2544296  -0.11742905  0.01957151  1.19386198
  0.19571508  0.2348581   0.60671675  0.80243182 -0.13700056  0.03914302
  0.62628825  0.82200333  0.93943238  1.15471897  1.50700611 -0.78286032
  0.07828603  0.9785754   1.58529214 -0.66543127  0.09785754  1.46786309
 -1.17429048 -1.13514746 -0.88071786 -0.62628825  0.11742905  0.35228714
  0.91986087  1.07643294 -1.7222927  -0.7437173  -0.58714524  0.50885921
 -0.80243182  0.54800222 -1.4874346  -1.42872008  1.52657762  1.62443516
 -0.41100167 -1.31129103  0.2544296  -1.05686143  0.          0.13700056
  0.95900389  1.7222927  -0.03914302  0.39143016 -1.25257651 -1.09600444
 -1.07643294 -0.76328881 -0.70457429 -0.60671675 -0.72414579  1.54614913
 -1.40914857 -0.46971619  1.70272119]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dfYear.iloc[:, 2:] = scale(dfYear.iloc[:, 2:])
/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_2570/4293983051.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.72152153 -1.6792756  -1.61590671 -1.48916893 -1.446923   -1.40467707
 -1.32018522 -1.15120151 -1.13007855 -1.00334077 -0.96109484 -0.91884891
 -0.89772595 -0.85548002 -0.72874224 -0.68649631 -0.5808815  -0.30628297
 -0.28516001 -0.24291408 -0.15842223 -0.13729926  0.13729926  0.20066815
  0.45414372  0.49638964  0.5808815   0.60200446  0.64425039  0.7498652
  0.77098817  0.79211113  0.89772595  0.93997188  1.04558669  1.13007855
  1.2145704   1.29906226  1.32018522  1.34130818  1.36243115  1.38355411
  1.48916893  1.51029189  1.61590671  1.63702967  1.6792756   1.72152153
 -1.57366078 -1.55253782 -1.06670966 -0.62312742 -0.55975853 -0.43302075
 -0.07393037  0.24291408  0.39077482  0.66537335  0.83435706  1.00334077
  1.53141485  1.55253782  1.70039856 -1.53141485 -1.27793929 -0.83435706
 -0.20066815 -0.1161763   1.17232447  1.23569337  1.25681633 -1.19344744
 -1.10895558 -1.08783262 -0.93997188 -0.87660299 -0.53863557 -0.01056148
  0.05280741  0.1161763   0.3485289   0.41189779  0.43302075  0.51751261
  0.68649631  0.85548002  0.96109484  1.02446373 -1.17232447 -0.79211113
 -0.7498652  -0.3485289   1.42580004 -1.63702967 -0.47526668  0.17954519
  0.81323409  1.65815264 -1.02446373  0.01056148 -0.41189779 -0.17954519
  0.55975853 -1.34130818 -1.29906226 -1.04558669 -0.09505334 -0.05280741
  1.57366078  1.59478374  0.03168445  1.27793929 -1.65815264 -0.81323409
  0.91884891 -1.70039856 -1.59478374 -1.2145704  -0.45414372 -0.22179112
  0.07393037  0.9822178   1.19344744 -0.77098817  1.10895558  1.15120151
 -1.25681633 -1.42580004 -0.9822178   0.70761928 -1.36243115 -0.49638964
 -0.70761928  0.22179112  0.72874224  0.15842223  0.53863557 -1.46804596
 -0.32740593  0.32740593  0.62312742  1.40467707 -0.26403704  0.26403704
 -1.38355411 -0.51751261  1.446923    0.30628297  0.47526668  1.08783262
 -0.66537335 -0.03168445 -1.23569337 -0.64425039  0.09505334 -0.39077482
  0.87660299  1.46804596 -0.60200446  0.28516001  0.36965186 -1.51029189
 -0.36965186  1.06670966]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dfYear.iloc[:, 2:] = scale(dfYear.iloc[:, 2:])
/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_2570/4293983051.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.13403012  0.77325067 -1.47433127 -1.41247122 -1.3918512  -1.30937113
 -1.20627104 -1.18565102 -1.165031   -1.14441099 -1.08255093 -0.91759079
 -0.62891054 -0.56705049 -0.44333038 -0.42271036 -0.38147033 -0.27837024
 -0.15465013 -0.07217006 -0.05155004  0.05155004  0.17527015  0.2371302
  0.27837024  0.48457042  0.56705049  0.58767051  0.60829052  0.71139061
  0.8144907   0.91759079  0.93821081  1.00007086  1.08255093  1.26813109
  1.35061116  1.37123118  1.3918512   1.41247122  1.43309123  1.47433127
  1.53619132  1.55681134  1.65991143  1.68053145  1.70115147 -1.72177148
 -1.61867139 -1.51557131 -1.45371125 -1.24751107 -1.12379097 -1.00007086
 -0.97945084 -0.89697077 -0.87635076 -0.85573074 -0.8144907  -0.71139061
 -0.52581045 -0.21651019  0.09279008  0.4639504   0.79387068  0.85573074
  0.87635076  1.02069088 -1.10317095 -1.0413109  -0.83511072 -0.17527015

In [55]:
# Generate the list of file paths
file_paths = [f'WNBA_scaled_means_data/WNBA_scaled_{year}.csv' for year in range(1997, 2025)]

# Concatenate all files into one DataFrame
wnba_df = pd.concat((pd.read_csv(f) for f in file_paths), ignore_index=True)
wnba_df = wnba_df.drop(['Unnamed: 0', 'Year'], axis = 1)

print(wnba_df.shape)
wnba_df.head()

(4508, 31)

,Player,Team,pct_FGA_2PT,pct_FGA_3PT,pct_PTS_MR,pct_PTS_FB,pct_PTS_FT,pct_PTS_IP,pct_AST_2PT,pct_UAST_2PT,pct_AST_3PT,pct_UAST_3PT,Usage,pct_FGA,pct_3PA,pct_FTA,pct_OREB,pct_REB,pct_AST,pct_TOV,pct_BLA,pct_PF,pct_PFD,RA_FGA,ITP_FGA,MR_FGA,LC3_FGA,RC3_FGA,AB3_FGA,year,Total Minutes
0,ANDREA CONGREAVES,CHA,-0.516092,0.669738,0.663620,-0.604152,-0.037217,-0.102525,0.109132,0.146817,1.007227,-0.569614,-1.119218,-0.800698,0.386819,0.161039,0.447429,0.392534,-0.335621,-1.010934,-0.087672,-0.177785,-0.309595,-0.041556,-0.720060,-0.662048,2.085147,0.676530,0.317209,1997,660.8
1,ANDREA STINSON,CHA,0.115579,-0.035311,0.081656,3.014046,-0.493994,0.555107,-0.459022,0.765442,0.541718,0.437175,1.352397,1.224769,0.642066,0.317052,0.101643,-0.069853,1.011630,0.286134,-0.087672,-0.669536,-0.309595,2.292166,1.419823,1.891564,0.526909,1.313650,0.866659,1997,1010.8
2,BRIDGET PETTIS,PHO,-0.785062,0.969953,0.934875,2.314528,0.198539,-0.613490,-0.139435,0.417466,0.716284,0.059629,1.123929,0.867334,1.439715,0.560822,-0.190946,-0.345507,0.619520,0.538660,1.063029,-0.567794,-0.309595,1.584978,-0.292083,0.189156,1.461852,-0.172964,2.593504,1997,831.6
3,BRIDGETTE GORDON,SAC,0.392699,-0.344623,-0.342487,0.264215,-0.012659,0.148227,0.326135,-0.089463,0.774473,-0.066220,0.313903,0.375860,-0.244919,0.580324,0.536092,-0.140990,0.408384,-0.414054,-0.733956,-0.889975,-0.309595,1.089945,0.991847,2.080721,-0.408033,1.313650,-0.075256,1997,954.8
4,CHANTEL TREMITIERE,SAC,0.131880,-0.053506,-0.219190,-0.254393,0.336064,-0.736501,-0.691807,1.018907,-0.447489,2.576602,-0.620741,-0.904950,-0.302350,0.170790,-0.660861,-0.372184,1.745580,0.423875,-0.544799,-0.533880,-0.309595,0.170600,-0.377678,1.418673,-0.096386,0.251783,0.317209,1997,1052.8

In [57]:
high_minutes_wnba = wnba_df[wnba_df['Total Minutes'] >= 100]
X = high_minutes_wnba.drop(['Player', 'Team', 'year', 'Total Minutes'], axis = 1)
print(X.shape)
X.head()

(3839, 27)

,pct_FGA_2PT,pct_FGA_3PT,pct_PTS_MR,pct_PTS_FB,pct_PTS_FT,pct_PTS_IP,pct_AST_2PT,pct_UAST_2PT,pct_AST_3PT,pct_UAST_3PT,Usage,pct_FGA,pct_3PA,pct_FTA,pct_OREB,pct_REB,pct_AST,pct_TOV,pct_BLA,pct_PF,pct_PFD,RA_FGA,ITP_FGA,MR_FGA,LC3_FGA,RC3_FGA,AB3_FGA
0,-0.516092,0.669738,0.663620,-0.604152,-0.037217,-0.102525,0.109132,0.146817,1.007227,-0.569614,-1.119218,-0.800698,0.386819,0.161039,0.447429,0.392534,-0.335621,-1.010934,-0.087672,-0.177785,-0.309595,-0.041556,-0.720060,-0.662048,2.085147,0.676530,0.317209
1,0.115579,-0.035311,0.081656,3.014046,-0.493994,0.555107,-0.459022,0.765442,0.541718,0.437175,1.352397,1.224769,0.642066,0.317052,0.101643,-0.069853,1.011630,0.286134,-0.087672,-0.669536,-0.309595,2.292166,1.419823,1.891564,0.526909,1.313650,0.866659
2,-0.785062,0.969953,0.934875,2.314528,0.198539,-0.613490,-0.139435,0.417466,0.716284,0.059629,1.123929,0.867334,1.439715,0.560822,-0.190946,-0.345507,0.619520,0.538660,1.063029,-0.567794,-0.309595,1.584978,-0.292083,0.189156,1.461852,-0.172964,2.593504
3,0.392699,-0.344623,-0.342487,0.264215,-0.012659,0.148227,0.326135,-0.089463,0.774473,-0.066220,0.313903,0.375860,-0.244919,0.580324,0.536092,-0.140990,0.408384,-0.414054,-0.733956,-0.889975,-0.309595,1.089945,0.991847,2.080721,-0.408033,1.313650,-0.075256
4,0.131880,-0.053506,-0.219190,-0.254393,0.336064,-0.736501,-0.691807,1.018907,-0.447489,2.576602,-0.620741,-0.904950,-0.302350,0.170790,-0.660861,-0.372184,1.745580,0.423875,-0.544799,-0.533880,-0.309595,0.170600,-0.377678,1.418673,-0.096386,0.251783,0.317209

In [59]:
kmeans = KMeans(n_clusters=6, random_state=1)
kmeans.fit(X)
clusters = kmeans.predict(wnba_df[list(X.columns)])
wnba_df['Cluster'] = clusters
print(wnba_df.shape)
wnba_df.head()

(4508, 32)

,Player,Team,pct_FGA_2PT,pct_FGA_3PT,pct_PTS_MR,pct_PTS_FB,pct_PTS_FT,pct_PTS_IP,pct_AST_2PT,pct_UAST_2PT,pct_AST_3PT,pct_UAST_3PT,Usage,pct_FGA,pct_3PA,pct_FTA,pct_OREB,pct_REB,pct_AST,pct_TOV,pct_BLA,pct_PF,pct_PFD,RA_FGA,ITP_FGA,MR_FGA,LC3_FGA,RC3_FGA,AB3_FGA,year,Total Minutes,Cluster
0,ANDREA CONGREAVES,CHA,-0.516092,0.669738,0.663620,-0.604152,-0.037217,-0.102525,0.109132,0.146817,1.007227,-0.569614,-1.119218,-0.800698,0.386819,0.161039,0.447429,0.392534,-0.335621,-1.010934,-0.087672,-0.177785,-0.309595,-0.041556,-0.720060,-0.662048,2.085147,0.676530,0.317209,1997,660.8,3
1,ANDREA STINSON,CHA,0.115579,-0.035311,0.081656,3.014046,-0.493994,0.555107,-0.459022,0.765442,0.541718,0.437175,1.352397,1.224769,0.642066,0.317052,0.101643,-0.069853,1.011630,0.286134,-0.087672,-0.669536,-0.309595,2.292166,1.419823,1.891564,0.526909,1.313650,0.866659,1997,1010.8,0
2,BRIDGET PETTIS,PHO,-0.785062,0.969953,0.934875,2.314528,0.198539,-0.613490,-0.139435,0.417466,0.716284,0.059629,1.123929,0.867334,1.439715,0.560822,-0.190946,-0.345507,0.619520,0.538660,1.063029,-0.567794,-0.309595,1.584978,-0.292083,0.189156,1.461852,-0.172964,2.593504,1997,831.6,0
3,BRIDGETTE GORDON,SAC,0.392699,-0.344623,-0.342487,0.264215,-0.012659,0.148227,0.326135,-0.089463,0.774473,-0.066220,0.313903,0.375860,-0.244919,0.580324,0.536092,-0.140990,0.408384,-0.414054,-0.733956,-0.889975,-0.309595,1.089945,0.991847,2.080721,-0.408033,1.313650,-0.075256,1997,954.8,4
4,CHANTEL TREMITIERE,SAC,0.131880,-0.053506,-0.219190,-0.254393,0.336064,-0.736501,-0.691807,1.018907,-0.447489,2.576602,-0.620741,-0.904950,-0.302350,0.170790,-0.660861,-0.372184,1.745580,0.423875,-0.544799,-0.533880,-0.309595,0.170600,-0.377678,1.418673,-0.096386,0.251783,0.317209,1997,1052.8,1

In [61]:
wnba_df[wnba_df['Player'] == '0']

Empty DataFrame
Columns: [Player, Team, pct_FGA_2PT, pct_FGA_3PT, pct_PTS_MR, pct_PTS_FB, pct_PTS_FT, pct_PTS_IP, pct_AST_2PT, pct_UAST_2PT, pct_AST_3PT, pct_UAST_3PT, Usage, pct_FGA, pct_3PA, pct_FTA, pct_OREB, pct_REB, pct_AST, pct_TOV, pct_BLA, pct_PF, pct_PFD, RA_FGA, ITP_FGA, MR_FGA, LC3_FGA, RC3_FGA, AB3_FGA, year, Total Minutes, Cluster]
Index: []

In [63]:
cluster_means = wnba_df.groupby("Cluster")[list(X.columns)].mean()

# Print sorted by usage rate (example)
cluster_means.sort_values("Usage", ascending=False)

,pct_FGA_2PT,pct_FGA_3PT,pct_PTS_MR,pct_PTS_FB,pct_PTS_FT,pct_PTS_IP,pct_AST_2PT,pct_UAST_2PT,pct_AST_3PT,pct_UAST_3PT,Usage,pct_FGA,pct_3PA,pct_FTA,pct_OREB,pct_REB,pct_AST,pct_TOV,pct_BLA,pct_PF,pct_PFD,RA_FGA,ITP_FGA,MR_FGA,LC3_FGA,RC3_FGA,AB3_FGA
Cluster,,,,,,,,,,,,,,,,,,,,,,,,,,,
4,0.524128,-0.505067,-0.460321,-0.043427,-0.071226,0.268234,0.279598,-0.137627,0.416004,0.119514,1.368449,1.314860,-0.152847,0.879681,0.301684,0.585715,-0.117781,0.242324,0.255363,-0.327437,0.624808,1.298670,1.975644,1.766464,-0.228907,-0.261686,0.231462
0,-0.399541,0.453890,0.435898,0.381604,-0.080915,-0.451818,-0.671832,0.855208,0.341385,0.932313,0.986767,0.952543,0.979610,0.528340,-0.610451,-0.547357,0.662362,0.361820,-0.061713,-0.541600,0.340826,0.413566,0.537656,0.986275,0.713221,0.592729,1.437441
5,0.953183,-0.952777,-0.854540,-0.338722,0.084738,1.012574,0.524397,-0.409730,-0.604971,-0.340850,0.573474,0.385230,-0.933593,0.933228,1.089256,1.061053,-0.536256,0.274424,0.872334,0.449982,0.788089,1.256055,0.746920,-0.100610,-0.698023,-0.653076,-0.780551
1,-0.086975,0.035687,-0.077662,0.316933,0.155234,-0.170345,-0.306860,0.255380,0.394246,-0.066994,-0.340031,-0.357431,-0.033928,-0.287720,-0.417508,-0.449219,0.446386,0.081395,-0.213889,-0.172525,-0.205757,-0.377749,-0.377335,-0.221774,-0.070299,-0.079603,-0.207691
3,-1.352234,1.449001,1.469827,0.008667,-0.401610,-0.990807,-0.210019,0.138572,0.600768,0.096966,-0.451816,-0.251816,1.061787,-0.744398,-0.676599,-0.683375,0.111182,-0.365740,-0.560077,-0.289763,-0.545438,-0.735901,-0.679609,-0.473845,0.907763,0.930503,0.596126
2,0.861442,-0.933072,-0.882118,-0.411877,0.216892,0.719036,0.583468,-0.694712,-1.023416,-0.467635,-0.653946,-0.667245,-0.979595,-0.181050,0.764696,0.681723,-0.697866,-0.239031,0.207159,0.673991,-0.160751,-0.342885,-0.424475,-0.525444,-0.731413,-0.676839,-0.878705

In [65]:
wnba_df = wnba_df.sort_values(by = 'year', ascending = False)
for cluster_id in range(6):
    print(f"\nCluster {cluster_id} Players:")
    print(wnba_df[wnba_df["Cluster"] == cluster_id]["Player"].head(14))

Cluster 0 Players:
4400         KELSEY PLUM
4407        JACKIE YOUNG
4405     SABRINA IONESCU
4404       NATASHA CLOUD
4409         JEWELL LOYD
4398    ARIKE OGUNBOWALE
4410      KAHLEAH COPPER
4419       DIANA TAURASI
4366     KELSEY MITCHELL
4360      DEWANNA BONNER
4357       CAITLIN CLARK
4355        ARIEL ATKINS
4352        ALLISHA GRAY
4385          DANA EVANS
Name: Player, dtype: object

Cluster 1 Players:
4507            EZINNE KALU
4401          KENNEDY BURKE
4408         JADE MELBOURNE
4389         JORDAN HORSTON
4427     MICHAELA ONYENWERE
4418       STEPHANIE TALBOT
4417            RAE BURRELL
4363           JACY SHELDON
4362            HALEY JONES
4358    CECILIA ZANDALASINI
4369          LINDSAY ALLEN
4387          ERICA WHEELER
4379             SEVGI UZUN
4383           ALANNA SMITH
Name: Player, dtype: object

Cluster 2 Players:
4402               LI YUERU
4424           DORKA JUHSZ
4415    OLIVIA NELSON-ODODA
4413       MONIQUE BILLINGS
4412       MERCEDES RUSSELL
4390           KALANI BROWN
4375            NAZ HILLMON
4373           NATASHA MACK
4479          OLIVIA POUPA
4478       LAETICIA AMIHERE
4475              LIZ DIXON
4473        MARQUESHA DAVIS
4471          DIDI RICHARDS
4499            EMMA CANNON
Name: Player, dtype: object

Cluster 3 Players:
4403        MEGAN GUSTAFSON
4396          TYASHA HARRIS
4393        STEFANIE DOLSON
4392            KIAH STOKES
4426             LEXIE HULL
4425            KATE MARTIN
4421       VICTORIA VIVIANS
4411    KATIE LOU SAMUELSON
4416          RACHEL BANHAM
4365         KAYLA THORNTON
4364           JULIE VANLOO
4368         LEONIE FIEBICH
4353           ALYSHA CLARK
4367              KIA NURSE
Name: Player, dtype: object

Cluster 4 Players:
4399      BREANNA STEWART
4397          A'JA WILSON
4395         TINA CHARLES
4414       NNEKA OGWUMIKE
4429      CHENNEDY CARTER
4359    COURTNEY WILLIAMS
4377       RICKEA JACKSON
4428     NAPHEESA COLLIER
4439      BRITTNEY GRINER
4451       NATASHA HOWARD
4244         ALLISHA GRAY
4251        SATOU SABALLY
4238       NATASHA HOWARD
4264       NNEKA OGWUMIKE
Name: Player, dtype: object

Cluster 5 Players:
4406          EZI MAGBEGOR
4394        TEAIRA MCCOWAN
4420     ISABELLE HARRISON
4423           ANGEL REESE
4422       AALIYAH EDWARDS
4388         JONQUEL JONES
4361         DEARICA HAMBY
4356         BRIONNA JONES
4354         ALYSSA THOMAS
4351         ALIYAH BOSTON
4386    DIJONAI CARRINGTON
4372         NALYSSA SMITH
4371    MYISHA HINES-ALLEN
4487        SHAKIRA AUSTIN
Name: Player, dtype: object

In [67]:
wnba_df['Archetype'] = ''
wnba_df.loc[wnba_df['Cluster'] == 0, 'Archetype'] = 'Primary On-Ball Creator'
wnba_df.loc[wnba_df['Cluster'] == 1, 'Archetype'] = 'Secondary Creator/Distributor'
wnba_df.loc[wnba_df['Cluster'] == 2, 'Archetype'] = 'Roller/Cutter'
wnba_df.loc[wnba_df['Cluster'] == 3, 'Archetype'] = 'Spot-up Shooter'
wnba_df.loc[wnba_df['Cluster'] == 4, 'Archetype'] = 'Perimeter-Oriented Big/Wing'
wnba_df.loc[wnba_df['Cluster'] == 5, 'Archetype'] = 'Interior Primary Option'

In [69]:
wnba_df = wnba_df[['Player', 'Team', 'Archetype', 'year']]
wnba_df.head()

               Player Team                      Archetype  year
4507      EZINNE KALU  ATL  Secondary Creator/Distributor  2024
4400      KELSEY PLUM  LVA        Primary On-Ball Creator  2024
4407     JACKIE YOUNG  LVA        Primary On-Ball Creator  2024
4406     EZI MAGBEGOR  SEA        Interior Primary Option  2024
4405  SABRINA IONESCU  NYL        Primary On-Ball Creator  2024

In [71]:
wnba_df[wnba_df['Player'] == "DIANA TAURASI"]

             Player Team                Archetype  year
4419  DIANA TAURASI  PHO  Primary On-Ball Creator  2024
4301  DIANA TAURASI  PHO  Primary On-Ball Creator  2023
4101  DIANA TAURASI  PHO  Primary On-Ball Creator  2022
3994  DIANA TAURASI  PHO  Primary On-Ball Creator  2021
3807  DIANA TAURASI  PHO  Primary On-Ball Creator  2020
3714  DIANA TAURASI  PHO  Primary On-Ball Creator  2019
3452  DIANA TAURASI  PHO  Primary On-Ball Creator  2018
3333  DIANA TAURASI  PHO  Primary On-Ball Creator  2017
3149  DIANA TAURASI  PHO  Primary On-Ball Creator  2016
2844  DIANA TAURASI  PHO  Primary On-Ball Creator  2014
2706  DIANA TAURASI  PHO  Primary On-Ball Creator  2013
2631  DIANA TAURASI  PHO  Primary On-Ball Creator  2012
2426  DIANA TAURASI  PHO  Primary On-Ball Creator  2011
2292  DIANA TAURASI  PHO  Primary On-Ball Creator  2010
2127  DIANA TAURASI  PHO  Primary On-Ball Creator  2009
1872  DIANA TAURASI  PHO  Primary On-Ball Creator  2008
1751  DIANA TAURASI  PHO  Primary On-Ball Creator  2007
1556  DIANA TAURASI  PHO  Primary On-Ball Creator  2006
1388  DIANA TAURASI  PHO  Primary On-Ball Creator  2005
1181  DIANA TAURASI  PHO  Primary On-Ball Creator  2004

In [73]:
wnba_df.to_csv('Player_Archetypes.csv')

In [75]:
dump(kmeans, 'kmeans.joblib') # Save the model

['kmeans.joblib']